


.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  

}

.heading {
  font-family: 'Rubik Puddles', sans-serif;
  color: gold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.counter button {
  font-size: 18px;
  padding: 15px 30px;
  background-color: gold;
  margin: 0 20px;
}

.starsContainer {
  display: flex;
  justify-content: center;
}

.star {
  font-size: 40px;
  margin: 0 2px;
  color: gold;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: purple;
  padding: 10px;
}

.logo img {
  height: 40px;
}

.menu button {
  font-size: 18px;
  padding: 10px 20px;
  background-color: gold;
}